<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Welcome!</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>

<body>
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a href="{{ url_for('views.home') }}" class="logo d-flex align-items-center me-auto">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
      </a>
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{{ url_for('views.home') }}" class="active">Home</a></li>
          <li><a href="{{ url_for('views.blog') }}">Blog</a></li>
          <li><a href="{{ url_for('views.university') }}">Programs</a></li>
          <li><a href="{{ url_for('views.contact') }}">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{{ url_for('auth.register') }}">Get Started</a>

    </div>
  </header>
  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <h1 class="">Apply to South Korean universities with Wayabroad in one place</h1>
            <p class="">Where your achievements open doors worldwide </p>
            <div class="d-flex">
              <a href="{{ url_for('auth.register') }}" class=" btn-get-started">Get Started</a>
              <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ"
                class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch
                  Video</span></a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img src="{{ url_for('static', filename='img/hero-img.png') }}" class="img-fluid animated" alt="">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Clients 2 Section -->
    <section id="clients-2" class="clients-2 section">

      <div class="container">

        <div class="swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 5,
                  "spaceBetween": 120
                },
                "1200": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{{ url_for('static', filename='img/clients/client-1.png') }}" clients
                class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{ url_for('static', filename='img/clients/client-2.png') }}" clients
                class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{ url_for('static', filename='img/clients/client-3.png') }}" clients
                class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{ url_for('static', filename='img/clients/client-4.png') }}" clients
                class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{ url_for('static', filename='img/clients/client-5.png') }}" clients
                class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{ url_for('static', filename='img/clients/client-6.png') }}" clients
                class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{ url_for('static', filename='img/clients/client-7.png') }}" clients
                class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{ url_for('static', filename='img/clients/client-8.png') }}" clients
                class="img-fluid" alt=""></div>
          </div>
        </div>

      </div>

    </section><!-- /Clients 2 Section -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container text-center" data-aos="fade-up">
        <h2>Application Journey</h2>
        <p>Join our four-step application process for a smooth academic journey.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-activity icon"></i></div>
              <h4>Step 1: Account Creation</a></h4>
              <p>Create an account to secure your data and track your progress.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
              <h4>Step 2: Program Search</a></h4>
              <p>Use our search tools to find programs that align with your career and academic goals.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
              <h4>Step 3: University selection</a></h4>
              <p>Choose from our selection of prestigious universities worldwide.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon"><i class="bi bi-broadcast icon"></i></div>
              <h4>Step 4: Direct Application</a></h4>
              <p>Complete your application by following the direct link to the university's application portal.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section">

      <img src="{{ url_for('static', filename='img/cta-bg.jpg') }}" alt="">

      <div class="container">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-9 text-center text-xl-start">
            <h3>Start Your Journey Today</h3>
            <p>Begin your application process to South Korean universities with Wayabroad. It's simple, easy, and free!
            </p>
          </div>
          <div class="col-xl-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="{{ url_for('auth.register') }}">Start Now</a>
          </div>
        </div>

      </div>

    </section><!-- /Call To Action Section -->

    <!-- Faq 2 Section -->
    <section id="faq-2" class="faq-2 section">

      <!-- Section Title -->
      <div class="container text-center" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
        <p>Here are some of the most frequently asked questions about Wayabroad.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-10">

            <div class="faq-container">

              <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>How to find programs?</h3>
                <div class="faq-content">
                  <p>After creating an account, go to the “University Search” and search by university name,
                    location, major, or on the “Welcome page” search the program you want to apply on the search bar on
                    the corner.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>Is it free to apply to universities with Wayabroad?</h3>
                <div class="faq-content">
                  <p>Yes, it is 100% free to apply with Wayabroad.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item" data-aos="fade-up" data-aos-delay="400">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>Which countries can we apply with Wayabroad?</h3>
                <div class="faq-content">
                  <p>For now, you can only apply to universities in South Korea.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div>

        </div>

      </div>

    </section><!-- /Faq 2 Section -->
    <!-- Contact Section -->

  </main>
  <!-- Footer -->
  <footer id="footer" class="footer">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-6 col-md-6 footer-about">
          <h4 class="text-uppercase"><span class="sitename">Wayabroad</span></h4>
          <p>Seoul, South Korea</p>
          <p><strong>Phone:</strong> +82 10 9575 8404</p>
          <p><strong>Email:</strong> info@example.com</p>
        </div>

        <div class="col-lg-6 col-md-6">
          <h4 class="text-uppercase">Follow Us</h4>
          <p>Stay updated with our latest news and offers. Connect with us on social media.</p>
          <div class="social-links d-flex">
            <a href="" class="btn btn-social-icon btn-twitter"><i class="bi bi-telegram"></i></a>
            <a href="" class="btn btn-social-icon btn-facebook"><i class="bi bi-twitter"></i></a>
            <a href="" class="btn btn-social-icon btn-instagram"><i class="bi bi-instagram"></i></a>
            <a href="" class="btn btn-social-icon btn-linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>All right reserved</p>
      <p>© 2024 <strong class="px-1 sitename">Wayabroad, Inc.</strong></p>
    </div>
  </footer>
  <!-- End Footer -->
  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/imagesloaded/imagesloaded.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>

  <!-- Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>